JSON file of Shopping bot.json
[{"id":"189169b9.f3ec36","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"6653b7bb.1cea18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b9c62452.c61298","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c6761d71.dfe49","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"b26dfea3.86f7","type":"ui_tab","z":"","name":"Shopping Bot to shop for essentials during pandemic","icon":"dashboard","disabled":false,"hidden":false},{"id":"13cb70b.2c5d68f","type":"ui_group","z":"","name":"Chatbot ","tab":"b26dfea3.86f7","order":1,"disp":true,"width":"6","collapse":false},{"id":"bf8d0959.a5e288","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3377388c.85abd8","type":"ui_group","z":"","name":"Chatbot","tab":"6177d929.8b94d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6177d929.8b94d8","type":"ui_tab","z":"","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1b11140.4e4ef","type":"inject","z":"189169b9.f3ec36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"189169b9.f3ec36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":401,"y":87,"wires":[]},{"id":"953c5a41.8b18c8","type":"watson-conversation-v1","z":"6653b7bb.1cea18","name":"Chat Bot","workspaceid":"c70e3ff4-09d6-436d-9e94-ce0d91f3ed4b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":300,"y":160,"wires":[["ace72ba1.72d7f8"]]},{"id":"68ac787.9e30188","type":"inject","z":"6653b7bb.1cea18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello.","payloadType":"str","x":90,"y":160,"wires":[["953c5a41.8b18c8"]]},{"id":"f951539c.b2af8","type":"debug","z":"6653b7bb.1cea18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":160,"wires":[]},{"id":"ace72ba1.72d7f8","type":"function","z":"6653b7bb.1cea18","name":"Parsing","func":"msg.payload=msg.payload.output.text[0]+ \"                          \"+ msg.payload.output.text[1] + \"                    \"+msg.payload.output.text[2];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":220,"wires":[["f951539c.b2af8","e440283d.becc18"]]},{"id":"e460bbb9.cca498","type":"ui_form","z":"6653b7bb.1cea18","name":"","label":"","group":"13cb70b.2c5d68f","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"t","type":"text","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":320,"wires":[["73c8fe8d.d7ddc"]]},{"id":"73c8fe8d.d7ddc","type":"function","z":"6653b7bb.1cea18","name":"Input parsing","func":"msg.payload=msg.payload.t\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":260,"wires":[["953c5a41.8b18c8","1df5cdb3.1ad4b2"]]},{"id":"1df5cdb3.1ad4b2","type":"ui_text","z":"6653b7bb.1cea18","group":"13cb70b.2c5d68f","order":1,"width":"0","height":"0","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":320,"wires":[]},{"id":"e440283d.becc18","type":"ui_text","z":"6653b7bb.1cea18","group":"13cb70b.2c5d68f","order":2,"width":"6","height":"3","name":"","label":"bot","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":320,"wires":[]},{"id":"1b260a93.325e45","type":"watson-conversation-v1","z":"c6761d71.dfe49","name":"Resto Bot","workspaceid":"affcbda8-03fb-45d4-ab9d-267e9089c97f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["917d26e.934edd8"]]},{"id":"31220e97.b69df2","type":"inject","z":"c6761d71.dfe49","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["1b260a93.325e45"]]},{"id":"efbf04a.f0c68f8","type":"debug","z":"c6761d71.dfe49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"917d26e.934edd8","type":"function","z":"c6761d71.dfe49","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["efbf04a.f0c68f8","aab22229.dc33","fb0f4f07.dc53c","cf49cbb.86be438"]]},{"id":"c0967d8f.34223","type":"ui_form","z":"c6761d71.dfe49","name":"","label":"","group":"3377388c.85abd8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["6c27ef4b.e020c"]]},{"id":"6c27ef4b.e020c","type":"function","z":"c6761d71.dfe49","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["1b260a93.325e45","d256e0fd.fbf21"]]},{"id":"d256e0fd.fbf21","type":"ui_text","z":"c6761d71.dfe49","group":"3377388c.85abd8","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"aab22229.dc33","type":"ui_text","z":"c6761d71.dfe49","group":"3377388c.85abd8","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"fb0f4f07.dc53c","type":"ui_audio","z":"c6761d71.dfe49","name":"","group":"3377388c.85abd8","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"cf49cbb.86be438","type":"ui_template","z":"c6761d71.dfe49","group":"3377388c.85abd8","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]}]